In [1]:
import sqlalchemy
from sqlalchemy import create_engine
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)
connection_sqlalchemy = db.connect()

In [12]:
i = 0
result_set = db.execute("SELECT name FROM category")
result_set
for r in result_set:
    i += 1
print(i)

16

In [13]:
result_set = db.execute("SELECT name FROM category ORDER BY name")
for r in result_set:
    print(r)

('Action',)
('Animation',)
('Children',)
('Classics',)
('Comedy',)
('Documentary',)
('Drama',)
('Family',)
('Foreign',)
('Games',)
('Horror',)
('Music',)
('New',)
('Sci-Fi',)
('Sports',)
('Travel',)

In [26]:
result_set = db.execute("SELECT MIN(release_year) FROM film")
for r in result_set:
    print(r)

result_set = db.execute("SELECT MAX(release_year) FROM film")
for r in result_set:
    print(r)

(2006,)
(2006,)

In [45]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')
df = pd.read_sql("SELECT count(*) FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01'",con=connection)
df['count'][0]

6709

In [46]:
connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')
df = pd.read_sql("SELECT count(*) FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '2011-02-01'",con=connection)
df['count'][0]

0

In [39]:
df = pd.read_sql('SELECT MAX(amount) FROM payment',con=connection)
df["max"][0]

11.99

In [61]:
df = pd.read_sql('SELECT first_name, last_name FROM customer WHERE address_id in (SELECT address_id FROM address WHERE city_id in (SELECT city_id FROM city WHERE country_id in (SELECT country_id FROM country WHERE country = "Poland")))',con=connection)
df

DatabaseError: Execution failed on sql 'SELECT first_name, last_name FROM customer WHERE address_id in (SELECT address_id FROM address WHERE city_id in (SELECT city_id FROM city WHERE country_id in (SELECT country_id FROM country WHERE country = "Poland")))': column "Poland" does not exist
LINE 1: ...n (SELECT country_id FROM country WHERE country = "Poland"))...
                                                             ^